<!DOCTYPE html>
<html>
    <head>
        <title>Ruby App</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>        
        
        <%= yield :head %>
        <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    </head>

    <body>
        <%= render 'layouts/header' %>
        <% if flash[:notice] %>
            <div class="notification is-info">
                <p class="notice"><%= notice %></p>
            </div>
        <% end %>
        <% if flash[:alert] %>
            <div class="notification is-danger">
            <p class="alert"><%= alert %></p>
            </div>
        <% end %>
        <main>
        <%= yield :body %>
        </main>
     </body>
</html>
